body{
    font-family: 'Lora', serif;

}

h2{
    color: rgb(33, 75, 117)
}

/*  Header  */
.navbar{
   background-color: white !important;
}

.nav-link{
    color: rgb(33, 75, 117) !important;
    font-size: 18px;
}

.nav-link:hover{

    color:rgb(88,175,184)!important;
}

.carousel-inner{
    max-height: 37rem;
}

/*  Section  */
section > .container{
    margin-top: 60px;
    margin-bottom: 60px;

}

section > .container > .row > .col-sm > img{
    width: 80%;
    margin: 10px;
} 

/*  Productos  */

.productos > .container > .row > .col-sm {
    margin-bottom: 20px;
}

.productos > .container > .row > .col-sm > .card{
    background-color: #F5F5F5;
    height: 100%;
}

.card-title{
    font-weight: 700;
}

.btn{
    background-color: rgb(88,175,184);
    color: white;
}

.btn:hover{
    background-color: rgb(73, 145, 153);
    color: white;
}

.card-img-top{
    height: 15rem;
}

.vertodos{
    margin-top: 30px;
    background-color: rgb(112, 112, 112);

}

.vertodos:hover{
    background-color: rgb(20, 20, 20);

}

.sellos{
    width: 50%;
}

.contSellos{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgba(33, 75, 117, 0.616) 
}

.card-img-top{
    margin-bottom: 15px;
}


/*   Article  */
article{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    article{
      background-attachment: scroll;
    }
}

article{
    background-image: url("/img/fondoArticle.png");
    color: white;
    margin-bottom: 30px;
}

article > .container{
    padding: 50px;
}


/*   Footer  */
footer{
    margin-top: 60px;
}

footer > .container{
    margin-top: 30px;
}

footer > .container > .row > .col-sm > h3{
    text-align: center;
    color: rgb(33, 75, 117);

}

footer > .container > .row > .col-sm {
    margin-bottom: 50px;
}

td{
    padding-bottom: 20px;
    padding-right: 20px;
}


footer .col-sm  a{
    list-style-type: none;
    color: rgb(33, 75, 117);
}

a:link, a:visited, a:active {
    text-decoration:none;
}

footer .col-sm  a:hover{
    color:rgb(88,175,184);
}

i{
    color: rgb(33, 75, 117);
    margin-right: 20px;
}


.info, .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finFooter{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    color: grey;
}