/* Sobre nosotros */

.imgNosotros, .imgNosotros2{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .imgNosotros, .imgNosotros2{
      background-attachment: scroll;
    }
}

.imgNosotros{
    background-image: url("/assets/img/nosotros.jpg");
    min-height: 600px; 
    width:40%;
}

.textNosotros{
    text-align: justify;
    padding: 25px;
}

/* Contacto */

.textContact{
    text-align: justify;
}


.textemail{
    text-align: justify;
    width: 15%;
}


.colContact{
    padding: 25px;
    background-color: rgba(88, 174, 184, 0.089);
    margin: 15px;
}

.colContact2{
  padding: 25px;
  margin: 15px;
}

.colContact3{
  padding: 25px;
  background-color: rgba(88, 174, 184, 0.089);
  margin: 15px;
}


/* Servicios */
.divider-custom-line3 {
  width: 100%;
  max-width: 5rem;
  height: 0.25rem;
  background-color: rgb(88,175,184);
  border-color: rgb(88,175,184);
  margin-top: 3px;
  margin-bottom: 8px;
}

.titleServicios{
  font-size: 1.2rem;
  font-weight: 700;
}

.contServicios{
  padding-left: 1rem;
}

.textServicios{
  list-style: none;
}

/* CALIBRACIÓN DE SISTEMAS DE PESAJE EN TOLVAS y para los demas servicios */
.tolvascont{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgba(88, 174, 184, 0.089);
  margin: 8px;
  margin-top: 1rem;
  padding: 1rem;
}

.portfolio .tolvas-item {
  position: relative;
  display: block;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.tolvas-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.280);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@media (min-width: 992px) {

  .tolvas-item{
    max-width: none;
    margin: 0;
  }
  .tolvas-item .caption {
    transition: background-color 0.25s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
            clip-path: inset(0px);
  }
  .tolvas-item .caption .caption-content {
    transition: opacity 0.25s;
    margin: 0.9rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tolvas-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
            clip-path: inset(-1px);
  }
  .tolvas-item:hover img {
    -webkit-clip-path: inset(0.5rem);
            clip-path: inset(0.5rem);
  }
  .tolvas-item:hover .caption {
    background-color: rgba(29, 129, 159, 0);
    -webkit-clip-path: inset(0.5rem);
            clip-path: inset(0.5rem);
  }
}


/* Nuestros clientes */

.portfolio .portfolio-item2 {
  position: relative;
  display: block;
  max-width: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

