/* Sobre nosotros */

.imgNosotros,
.imgNosotros2 {
    position: relative;
   /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .imgNosotros,
    .imgNosotros2 {
        background-attachment: scroll;
    }
}

.imgNosotros {
    /*background-image: url("/assets/img/nosotros.jpg");*/
    background-image: url("/assets/img/nosotros.jpg");
    min-height: 600px;
    width: 40%;
}

.textNosotros {
    text-align: justify;
    padding: 25px;
}


/* Contacto */

.textContact {
    text-align: justify;
}

.textemail {
    text-align: justify;
    width: 15%;
}

.colContact {
    padding: 25px;
    background-color: rgba(88, 174, 184, 0.089);
    margin: 15px;
}

.colContact2 {
    padding: 25px;
    margin: 15px;
}

.colContact3 {
    padding: 25px;
    background-color: rgba(88, 174, 184, 0.089);
    margin: 15px;
}


/* Servicios */

.divider-custom-line3 {
    width: 100%;
    max-width: 5rem;
    height: 0.25rem;
    background-color: rgb(88, 175, 184);
    border-color: rgb(88, 175, 184);
    margin-top: 3px;
    margin-bottom: 8px;
}

.titleServicios {
    font-size: 1.2rem;
    font-weight: 700;
}

.contServicios {
    padding-left: 1rem;
}

.textServicios {
    list-style: none;
}


/* CALIBRACIÓN DE SISTEMAS DE PESAJE EN TOLVAS y para los demas servicios */

.portfolio .tolvas-item {
    position: relative;
    display: block;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.tolvas-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}


/* Nuestros clientes */

.portfolio .portfolio-item2 {
    position: relative;
    display: block;
    max-width: 15rem;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Nuestras certificaciones */

.cert-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    max-width: 650px;
}

.cert-item .caption .caption-content h2{
    font-size: 1.2rem;
    text-transform: uppercase;
}


.textAcre {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Turn off parallax scrolling for tablets and phones */
@media (min-width: 992px) {
    .textAcre {
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}